---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeBackground from "../components/HomeBackground.astro"
import HomeArticleContainer from '../components/HomeArticleContainer.astro'
import { getCollection } from "astro:content";
import AuthorCard from "../components/AuthorCard.astro";
const allPosts = await getCollection('blog');
---

<BaseLayout>
  <HomeBackground />
  <div class="flex gap-5 justify-center">
    <HomeArticleContainer posts={allPosts} />
    <AuthorCard />
  </div>
</BaseLayout>