---
const {posts} = Astro.props;
import ArticleContainerItem from './ArticleContainerItem.astro';
---
<div class="flex">
    <ul class="flex rounded flex-col gap-5 shadow p-10 bg-white backdrop-blur-xl">
      {posts.map((p:any) => 
        <ArticleContainerItem post={p} />
      )}
    </ul>
  </div>