---
import { nav } from '../config/nav.js'
---
<div id="top-holder" class="w-full h-15"> </div>

<div class="py-2 z-10 fixed top-2 left-[50%] -translate-x-[50%] bg-white/50 backdrop-blur flex gap-2 outline-1 outline-gray-200/50 rounded px-2 text-slate-500" >
  <nav id="navigation" class="flex gap-2">
    {nav.map(item => <a class="" href={item.src}>{item.title}</a>)}
  </nav>
</div> 

<style>
#top-holder {
  margin-bottom: none;
}
a {
  transition: color 0.2s ease-out;
  color: var(--color-slate-600);
  text-decoration: none !important;
}
a:hover {
  color: var(--color-blue-400);
}
</style>