---
import HomeBackground from "../components/HomeBackground.astro";
import BaseLayout from "./BaseLayout.astro";
import StackExhibition from '../components/StackExhibition.astro'
---

<BaseLayout>
  <HomeBackground />
  <StackExhibition />
  <div class="transition m-auto w-1/2 backdrop-blur-xl hover:backdrop-blur ring-2 ring-white/70 rounded p-5 bg-white hover:bg-white/80">
    <slot />
  </div>
</BaseLayout>