---
import HomeBackground from "../components/HomeBackground.astro";
import BaseLayout from "./BaseLayout.astro";
import StackExhibition from '../components/StackExhibition.astro'
---

<BaseLayout>
  <HomeBackground />
  <StackExhibition />
  <div class="transition m-auto w-1/2 backdrop-blur-xl hover:backdrop-blur ring-2 ring-blue-500/50 rounded p-2 bg-white/50">
    <slot />
  </div>
</BaseLayout>